@font-face {
    font-family: Abel;
    src: url(../fonts/Abel-Regular.eot),
    url(../fonts/Abel-Regular.woff2),
    url(../fonts/Abel-Regular.woff),
    url(../fonts/Abel-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.eot),
    url(../fonts/Roboto-Bold.woff2),
    url(../fonts/Roboto-Bold.woff),
    url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.eot),
    url(../fonts/Roboto-Light.woff2),
    url(../fonts/Roboto-Light.woff),
    url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto-LightItalic.eot),
    url(../fonts/Roboto-LightItalic.woff2),
    url(../fonts/Roboto-LightItalic.woff),
    url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.eot),
    url(../fonts/Roboto-Medium.woff2),
    url(../fonts/Roboto-Medium.woff),
    url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.eot),
    url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff),
    url(../fonts/Roboto-Regular.ttf);
}

.container{
    opacity: 0.8;
    box-sizing: border-box;
}
.container_nav {
    box-sizing: border-box;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
.container_nav ul {
    box-sizing: border-box;
    margin-top:0.5%; 
    text-align: center;
  }
  .container_nav li {
    box-sizing: border-box;
    display: inline;
    font-size: 16px;
   
    padding: 10px 40px 10px 10px;
  }
  .container_nav li>a {
    box-sizing: border-box;
      color: whitesmoke;
      text-decoration: none;
  }
  .container_nav li>a:hover {
    box-sizing: border-box;
    color: lightseagreen;
}
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.header_backg{
    margin-top:-2%; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    z-index: -1;
}

#header_Video {
   
    position: absolute;
    left: 28.5%;
    right: 0;
    top: 46%;
    bottom: 0;
    min-width: 2%;
    min-height: 36%;
    height: 27%;
    width: 44%;
    object-fit: fill;
} 

main{
    margin-top:2%; 
    margin-left:2%; 
    overflow: hidden;
}
#home-left{
    margin-bottom:10%; 
    text-align: center;
   
}
.row{
    margin-bottom:10%; 
}
.first_text{
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left:-1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    text-transform: capitalize;
    text-align: center !important;
    overflow: hidden;
}
.first_text h2{
    font-family: cursive;
}
.container-fluid{
    background:rgba(200, 200, 200,0.2);
}
.footer_navigation{
  font-size: 32px;
}
/*  Footer  */
.footer_main {
    background-color: #F0F0E9;
    padding-bottom: 20px;
    margin-top: 50px;
}

/*  Footer top  */
.footer_top_info {
    margin-top: 57px;
}










/*__Footer top__*/

/*  Footer middle */

.footer_navigation h4 {
    margin: 20px 6px 40px 0;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer_navigation ul li {
    padding: 5px 0;
}

.footer_navigation ul li a {
    padding: 0;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 400;
}

.footer_navigation ul li a:hover {
    color: #2B717F;
}

.footer_navigation form {
    padding: 0;
}

.footer_navigation form div {
    display: inline-block;
}

.footer_navigation form input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: inline-block;
}

.footer_navigation form input:focus {
    outline: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.footer_navigation form button {
    background: #4DCCE5;
    color: #FFF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    height: 32px;
    margin-left: -4px;
}

.footer_navigation button > i {
    font-size: 20px;
}

.footer_navigation p {
    display: block;
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
}



/* Bottom line */
#footer-info {
    width: 100%;
    height: 3.3%;
    /* position: fixed; */
    background:rgba(200, 200, 200,1);
    opacity: 1;
}

#footer-info:hover {
    padding: 0 5px;
    transition: all .5s;
    color: purple;
}
.footer-info {
    display: inline;
    padding: 1%;
    margin: 2%;
    color: black;
    text-decoration: none;
}

.footer-info>a {
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

.footer-info>a:hover {
    box-sizing: border-box;
    color: green;
    text-decoration: none;
}

.footer-info:hover {
    box-sizing: border-box;
    color: green;
    cursor: pointer;
}

.bottom_line {
    background:rgba(200, 200, 200,1);
    box-sizing: border-box;
}




@media only screen and (min-width: 1400px) {
    main * {
        font-size:20px; 
    }
    .footer_navigation h4{
        font-size:22px; 
    }
    .footer_navigation ul li a {
        padding: 0;
        color: gray;
        font-family: 'Courier New', Courier, monospace;
        font-size: 19px;
        font-weight: 400;
    }
    #header_Video {
   
        position: absolute;
        left: 28.5%;
        right: 0;
        top: 45%;
        bottom: 0;
        min-width: 2%;
        min-height: 36%;
        height: 27%;
        width: 44%;
        object-fit: fill;
    } 
}
@media only screen and (min-width: 1500px) {
    main * {
        font-size:23px; 
    }
  
    .footer_navigation h4{
        font-size:24px; 
    }
    .footer_navigation ul li a {
   
        padding: 0;
        color: gray;
        font-family: 'Courier New', Courier, monospace;
        font-size: 21px;
        font-weight: 400;
    }
    #header_Video {
   
        position: absolute;
        left: 28.5%;
        right: 0;
        top: 43.5%;
        bottom: 0;
        min-width: 2%;
        min-height: 36%;
        height: 27%;
        width: 44%;
        object-fit: fill;
    } 
}
@media only screen and (min-width: 1600px) {
    main * {
        font-size:25px; 
    }
  
    .footer_navigation h4{
        font-size:25px; 
    }
    .footer_navigation ul li a {
        padding: 0;
        color: gray;
        font-family: 'Courier New', Courier, monospace;
        font-size: 23px;
        font-weight: 400;
    }
    #header_Video {
   
        position: absolute;
        left: 28.5%;
        right: 0;
        top: 43.5%;
        bottom: 0;
        min-width: 2%;
        min-height: 36%;
        height: 27%;
        width: 44%;
        object-fit: fill;
    } 
}

